.row{
    padding: 1px;
}
img{
    height: 45vw;
    width: 100%;
 }

 .contenedor{
    margin:auto;
   /* display: table;*/
    position: relative;
    display: inline-block;
 }


 h1{
    position: absolute;
    float:left;
    font-weight: 400px;
    color:transparent;
    font-family: 'DRagonlord';
    top:4vw;
    text-align: center;
    font-size: 3vw; 
    overflow: hidden;   
    width: 100%;
    border-right: 2px solid #fff;
    white-space: nowrap;
    animation:text 10s linear infinite, maquina 5s steps(51) 5ms  normal both, blinkTextCursor 5s  infinite;
    background: linear-gradient(rgb(206, 179, 174),greenyellow);
    -webkit-background-clip: text;
    background-clip:text;
    -moz-background-clip: text;
 }

 @keyframes maquina{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
 }
 
 @keyframes text {
    0%{
    filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
        }
 }



 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  







