<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class=" text-center col-sm-4 col-m-4 col-l-4">
<circle-progress
  [percent]="70"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [imageSrc]="'../assets/html.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>

<div class="text-center col-sm-4 col-m-4 col-l-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [imageSrc]="'../assets/js.png'"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-m-4 col-l-4">
        <circle-progress
          [percent]="85"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [imageSrc]="'../assets/CSS.png'"
          [showImage]="true"
          [imageHeight]="70"
          [imageWidth]="70"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress>
        </div>

        <div class="text-center col-sm-4 col-m-4 col-l-4">
            <circle-progress
              [percent]="85"
              [radius]="100"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="8"
              [imageSrc]="'../assets/eng.png'"
              [showImage]="true"
              [imageHeight]="70"
              [imageWidth]="70"
              [outerStrokeColor]="'#78C000'"
              [innerStrokeColor]="'#C7E596'"
              [animation]="true"
              [animationDuration]="300"
            ></circle-progress>
            </div>

            <div class=" text-center col-sm-4 col-m-4 col-l-4">
                <circle-progress
                  [percent]="85"
                  [radius]="100"
                  [outerStrokeWidth]="16"
                  [innerStrokeWidth]="8"
                  [imageSrc]="'../assets/git.png'"
                  [showImage]="true"
                  [imageHeight]="70"
                  [imageWidth]="70"
                  [outerStrokeColor]="'#78C000'"
                  [innerStrokeColor]="'#C7E596'"
                  [animation]="true"
                  [animationDuration]="300"
                ></circle-progress>
                </div>

                <div class=" text-center col-sm-4 col-m-4 col-l-4">
                  <circle-progress
                    [percent]="100"
                    [radius]="100"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [imageSrc]="'../assets/grupal.png'"
                    [showImage]="true"
                    [imageHeight]="70"
                    [imageWidth]="70"
                    [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="300"
                  ></circle-progress>
                  </div>
</div>