<div class="row">
<h1>Proyectos Realizados</h1>
<div class="contenedor">
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
    <h1>No hice nada</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Tempore ut itaque repellendus tempora! Earum minus temporibus 
        facilis dicta tempore veniam, a mollitia officiis blanditiis 
        nesciunt vel? Debitis esse natus consequatur?</p>
    </div>

    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1  parte2">
        <img src="../../../assets/10661951_10204992536198807_717100400383453283_o.jpg" class="img-fluid img-proyecto">
    </div>
    </div>
</div>
