<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-11">
        <ul>
            <li><h1>Estudio 1:</h1> -<h3>Años:</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Molestias ipsa quam quisquam consectetur magnam. Est earum molestiae commodi excepturi 
                accusamus doloremque minus distinctio, quae cumque totam accusantium, enim nostrum saepe.</p>
        </ul>

        <ul>
            <li><h1>Estudio 2:</h1> -<h3>Años:</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Molestias ipsa quam quisquam consectetur magnam. Est earum molestiae commodi excepturi 
                accusamus doloremque minus distinctio, quae cumque totam accusantium, enim nostrum saepe.</p>
        </ul>

        <ul>
            <li><h1>Estudio 3:</h1> -<h3>Años:</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Molestias ipsa quam quisquam consectetur magnam. Est earum molestiae commodi excepturi 
                accusamus doloremque minus distinctio, quae cumque totam accusantium, enim nostrum saepe.</p>
        </ul>
    </div>
    </div>