<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
       <img src="../../../assets/photoPerfil.jpg" class="img-fluid" id="fotoDePerfil">
    </div>

     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Villavicencio Natalia Daniela</p>
        <p id="nomProfesion">Full Stack Developer Jr</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" >
        <span>
            <h1 id="titPres">Acerca de mí</h1>
            <p>
                Mi nombre es Natalia Daniela Villavicencio, nací en San Nicolás de los Arroyos, provincia de Buenos Aires, 
                pero actualmente resido en Córdoba Capital junto con mi familia. T
              
                Si bien soy docente de Física y ejerzo la labor docente, luego de varios años decidí retomar el proyecto que 
                me había propuesto cuando salí del secundario. Estudiar programación y Analista de Sistema, carrera en la que 
                en el 2023, comenzaré a cursar el tercer año.
                                
                Me considero una persona proactiva, con ganas de superarse continuamente, y con la firme convicción de que si 
                algo se quiere conseguir sólo es cuestión de tiempo y esfuerzo. 
                
                Mi objetivo es crecer profesionalmente día a día logrando adquirir cada vez 
                más conocimientos y aptitudes que me formen como profesional, 
                buscando alcanzar los objetivos que tengo propuestos para mi futuro.</p>
        </span>
   
    </div>
</div>